<header class="header">
  <div class="container">
    <a href="/">
      <img
        src="assets\logos\LogoCompletoPetShere.svg"
        alt="PetShere Logo"
        class="logo"
      />
    </a>

    <nav class="nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Servicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
        <li class="separator"></li>
        <li><button class="register-btn">Regístrate</button></li>
        <li><button class="login-btn">Iniciar Sesión</button></li>
      </ul>
    </nav>
  </div>
</header>