<header class="header">
  <div class="container">
    <a href="/">
      <img
        src="assets\logos\LogoCompletoPetShere.svg"
        alt="PetShere Logo"
        class="logo"
      />
    </a>

    <nav class="nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li class="separator"></li>
        <li><button class="register-btn" onclick="location.href='/register'">Regístrate</button></li>
        <li><button class="login-btn" onclick="location.href='/login'">Iniciar Sesión</button></li>
      </ul>
    </nav>
  </div>
</header>