<div class="blank-space"></div>

<header class="header">
  <div class="nav-container">
    <a href="/">
      <img
        src="assets\logos\LogoCompletoPetShere.svg"
        alt="PetShere Logo"
        class="logo"
      />
    </a>

    <nav class="nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>

  <hr />

  <div class="session-buttons">
    <button class="register-btn" onclick="location.href='/register'">
      Regístrate
    </button>
    <button class="login-btn" onclick="location.href='/login'">
      Iniciar Sesión
    </button>
  </div>
</header>
