<section class="not-found">
  <app-header></app-header>

  <div class="container">
    <img src="assets\pages-images\DogAte.png" alt="Imagen Perro" />
    <h1>¡Oh no!, esta página ha sido devorada por un perro hambriento</h1>
    <p>
      Mira, no quiero señalar culpables... pero tu perro ya se ha comido mis
      zapatos, mis llaves y, por alguna razón, un control remoto que ni siquiera
      era mío. Ahora también se ha comido esta página. Espero que al menos haya
      estado bien sazonada.
    </p>
  </div>

  <app-footer></app-footer>
</section>
