<section class="welcome">
  <app-header></app-header>

  <div class="message">
    <img
      src="assets\pages-images\ImagenMascotas.svg"
      alt="Imagen Mascotas"
      class="pets"
    />

    <div class="text">
      <h1>
        ¡Tu mascota en <br />las
        <span style="color: #f35903">mejores manos!</span>
      </h1>
      <p>
        Cuidamos de tu mascota como parte de nuestra familia, brindándole amor,
        seguridad y atención personalizada mientras tú estás fuera.
      </p>
    </div>
  </div>

  <div class="categories">
    <h1>Categorias</h1>
    <div class="container">
      <div class="category">
        <img
          src="assets\pages-images\ImagenGuarderia.svg"
          alt="Imagen Guardería"
        />
        <div class="category-text" style="background-color: #aeeeee">
          Guardería
        </div>
      </div>

      <div class="category">
        <img src="assets\pages-images\ImagenSpa.svg" alt="Imagen Spa" />
        <div class="category-text" style="background-color: #ffb3ba">Spa</div>
      </div>

      <div class="category">
        <img
          src="assets\pages-images\ImagenVacuna.svg"
          alt="Imagen Vacunación"
        />
        <div class="category-text" style="background-color: #ffeaa0">
          Vacunación
        </div>
      </div>

      <div class="category">
        <img
          src="assets\pages-images\ImagenDieta.svg"
          alt="Imagen Dieta Barf"
        />
        <div class="category-text" style="background-color: #f35903">
          Dieta Barf
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <img
      src="assets/pages-images/FondoTestimonios.png"
      alt="Fondo Testimonios"
      class="testimony-bg"
    />

    <div class="content">
      <img
        src="assets/pages-images/UsuarioTestimonio.svg"
        alt="Testimonio Usuario"
        class="user-testimony"
      />
      <h1>Sofia y <span style="color: #f35903">Kiran</span></h1>
      <p>
        Muchas gracias por el cuidado y la atención que le dieron a mi mascota.
        Me sentí muy tranquila sabiendo que estaba en buenas manos y bien
        atendida. Sin duda, volveremos pronto. ¡Excelente servicio!
      </p>
    </div>
  </div>

  <app-footer></app-footer>
</section>
