<section class="services">
  <app-header></app-header>
  <h1>Servicios para Mascotas</h1>
  <div class="carousel">
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Bano_Carr.png" alt="Baño" />
      <h2>Baño</h2>
      <p>Servicio de baño para mascotas con productos especiales.</p>
      <span class="price">$50.000</span>
    </div>
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Vacuna_Carr.png" alt="Vacunación" />
      <h2>Vacunación</h2>
      <p>Protege a tu mascota con sus vacunas al día.</p>
      <span class="price">$65.000</span>
    </div>
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Transporte_Carr.png" alt="Transporte" />
      <h2>Transporte</h2>
      <p>Movilidad segura y cómoda para tu mascota.</p>
      <span class="price">$22.000</span>
    </div>
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Guarderia_Carr.png" alt="Guardería" />
      <h2>Guardería</h2>
      <p>Cuidado diario con atención especializada.</p>
      <span class="price">$28.000</span>
    </div>
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Colegio_Carr.png" alt="Colegio" />
      <h2>Colegio</h2>
      <p>Adiestramiento y socialización canina.</p>
      <span class="price">$20.000</span>
    </div>
    <div class="card">
      <img src="assets\pages-images\Services_Carr\Hotel_Carr.png" alt="Hotel" />
      <h2>Hotel</h2>
      <p>Hospedaje cómodo para tus viajes largos.</p>
      <span class="price">$51.000</span>
    </div>
  </div>
  <app-footer></app-footer>
</section>
