.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login,
.login button,
.login input {
  font-size: 25px;
}

/* Login Menu */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: white;
  border-radius: 15px;
  height: 70%;
  width: 40%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container p {
  font-weight: bold;
  font-size: 35px;
  margin: 30px 0 0;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entries .error-message {
  margin: 5px 0;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px 15px;
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.entries .form-label {
  align-self: flex-start;
}

.entries a {
  text-decoration-line: none;
}

.entries input {
  border: none;
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.entries input:focus {
  outline: none;
}

.entries input + label {
  margin: 20px 0 0;
}

.entries .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.entries .options .switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.entries .submit-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entries .submit-buttons button {
  padding: 10px 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #23a5a5;
  color: white;
}

.entries .submit-buttons button:hover {
  background-color: #1c8484;
}

.entries .submit-buttons button:disabled {
  cursor: auto;
  background-color: gray
}

/* Toggle button (copied from a template xd) */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Button Back */
.button-back button {
  padding: 0 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
}

.button-back button:hover {
  background-color: #115814;
}

.button-back button {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
