<section class="contact">
  <app-header></app-header>

  <div class="contact-container">
    <div class="contact-header">
      <div class="contact-text">
        <h2>¿Necesitas ayuda?</h2>
        <p>
          Estamos aquí para cuidar de tu mascota como si fuera parte de nuestra
          familia. Contáctanos para resolver tus dudas.
        </p>
      </div>
      <div class="contact-image">
        <img
          src="assets/pages-images/Contact/Perro_Telefono.png"
          alt="Perro con teléfono"
        />
      </div>
    </div>

    <div class="contact-info">
      <div class="contact-item">
        <img src="assets/icons/black-phone-icon.svg" alt="Teléfono" />
        <span>+57 123 456 7890</span>
      </div>
      <div class="contact-item">
        <img src="assets/icons/black-whatsapp-icon.svg" alt="WhatsApp" />
        <span>+57 123 456 7890</span>
      </div>
      <div class="contact-item">
        <img src="assets/icons/email-icon.svg" alt="Correo" />
        <span>{{ email }}</span>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>
