<section class="about">
  <app-header></app-header>

  <div id="about-container">
    <div class="about-section">
      <div class="about-text">
        <h2>Nuestra Misión</h2>
        <p>
          Queremos brindar el mejor cuidado a las mascotas, ofreciendo servicios
          confiables, seguros y llenos de amor.
        </p>
      </div>
      <div class="about-image">
        <img src="assets\pages-images\About\Mision_About.png" alt="Misión" />
      </div>
    </div>

    <div class="about-section">
      <div class="about-image">
        <img src="assets\pages-images\About\Equipo_About.png" alt="Equipo" />
      </div>
      <div class="about-text">
        <h2>Quiénes somos</h2>
        <p>
          Somos un equipo de profesionales dedicados al bienestar animal, con
          experiencia en medicina veterinaria, etología y más.
        </p>
      </div>
    </div>

    <div class="about-section">
      <div class="about-text">
        <h2>Nuestros Valores</h2>
        <p>
          Compromiso, cuidado, integridad y pasión por lo que hacemos. Cada
          mascota es tratada como parte de nuestra familia.
        </p>
      </div>
      <div class="about-image">
        <img src="assets\pages-images\About\Valores_About.png" alt="Valores" />
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>
