.footer {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: #333;
  color: white;
  padding-top: 10px;
}

/* footer top */

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.footer-section {
  flex: 1;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  text-align: left;
  flex: 2;
}

.logo-container p {
  text-align: left;
}

.footer-logo {
  max-width: 120px;
  flex-shrink: 0;
}

.social-icons a img {
  width: 30px;
  margin: 0 10px;
  padding: 10px;
  background-color: #4caf50;
  border-radius: 10px;
}

.footer-top .separator {
  width: 3px;
  height: 80%;
  float: left;
  margin: 20px;
  border-radius: 10px;
  background-color: #f5f5f580;
}

/* footer bottom */

.footer-bottom {
  background: #4caf50;
  color: white;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
  position: inherit;
}

.footer-bottom p {
  margin: 0;
}
