<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-section logo-container">
        <img
          src="assets\logos\LogoPetShereColorBlanco.svg"
          alt="PetShere Logo"
          class="footer-logo"
        />
        <p>
          ¡Este mensaje es para ti! <br />
          Seguimos comprometidos en ser tu opción favorita, cuidando de tus
          mascotas con amor y dedicación, brindándoles siempre el mejor ambiente
          y atención personalizada en cada visita.
        </p>
      </div>

      <div class="separator"></div>

      <div class="footer-section media-container">
        <h1>Contacto</h1>
        <div class="social-icons">
          <a href="#"
            ><img src="assets\icons\facebook-icon.svg" alt="Facebook"
          /></a>
          <a href="#"
            ><img src="assets\icons\whatsapp-icon.svg" alt="WhatsApp"
          /></a>
          <a href="#"
            ><img src="assets\icons\instagram-icon.svg" alt="Instagram"
          /></a>
          <a href="#"
            ><img src="assets\icons\phone-icon.svg" alt="Teléfono"
          /></a>
        </div>
      </div>

      <div class="separator"></div>

      <div class="footer-section location-container">
        <h1>Ubicación</h1>
        <!-- TODO Agregar ubicación -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, libero.
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ actualYear }} PetShere. Todos los derechos reservados.</p>
  </div>
</footer>
